{{! server-side comment   unordered list of medplants in array}}


<html lang="en">
  <html>
<head>
    <title>React App Demo</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    const items = {{{ items }}}
    console.log(items)

    // define other components

    const App = () => {
      return <div>{{#each medPlants}}
        <li><a href="/detail?commonName={{commonName}}">{{commonName}}</a></li>
      {{/each}}</div>;
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>